langchain
openai
chromadb
huggingface_hub
streamlit
tiktoken
duckduckgo-search
pypdf
pypdf2
langchain-experiemental
docarray
hnswlib
python-dotenv
Pillow
python-docx
docx2txt
sentence-transformers
tabulate
pypdf2

